/MANIFEST.bak
/Makefile.old
/Makefile
/blib/
/pm_to_blib
/MYMETA.json
/MYMETA.yml
/cover_db/
/MYMETA.json.lock
/MANIFEST
/.build/
/CatalystX-Fastly-Role-Response-*.tar.gz
/CatalystX-Fastly-Role-Response-*/
